/custom.el
*.elc
/elpa
/tmp
*~
/recentf
/projectile-bookmarks.eld
/network-security.data
/ac-comphist.dat
/rust-playground
/tramp
/layouts
/projectile.cache
/smex-items
/org-clock-save.el
/local.el
/irony

/url
/srecode-map.el
